$mobile-screen-width-max: 768px;
$tablet-screen-width-min: 769px;
$tablet-screen-width-max: 1024px;
$desktop-screen-width-min: 1025px;

$max-container-width: 1200px;
$max-container-width-small: 600px;