.mountainContainer {
    position: absolute;
    top: -150px;
}

.mountains {
    width: 100%;
    min-width: 780px;
    max-width: 1600px;
    position: relative;
    height: auto;
    z-index: 0;
    height: 330px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color-mountains);
}