.scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-dark);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}

.visible {
  opacity: .2;
  pointer-events: all;
}