.main {
  position: relative;
}

.footer {
  color: var(--color-neutral-60);
  padding: 64px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: column;

  &__title {
    font-weight: var(--font-weight-semibold);
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}