// Example in page.tsx or layout.tsx
.cloudsBg {
    inset: 0;
    pointer-events: none;
    z-index: 0;

    img {
        position: absolute;
        animation: cloud-bobble 6s ease-in-out infinite alternate;
    }
}

@keyframes cloud-bobble {
    0% {
        transform: translateY(0);
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateY(5px);
    }
}